<html lang="zh">
<head>
    <meta charset="UTF-8">

    <title>{{title}}</title>
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
</head>
<body class="body-grey">
    <h1>欢迎您：{{user}}</h1>
    <form action="/signout" method="post">
        <input type="submit" value="SIGN OUT">
    </form>
</body>
</html>